<%- include('../partials/header') %>

<tbody>
  <div>Band: <%= band.title %></div>
  <div>Member Name: <%= band.memberName %></div>
</tbody>

<form id="add-transaction" method="POST" action="/bands/<%= band._id%>">
  <label>
    Expense Category
    <input type="text" name="transaction" />
  </label>

  <label>
    Price
    <input type="text" name="price" />
  </label>
  <input type="submit" value="submit" />
</form>
<hr />
<% band.transaction.forEach(function(idx, idx2){ %> <%=idx.transaction%> <%=
idx.price %>
<form
  action="/bands/<%= band._id%>/transactions/<%= idx._id %>?_method=DELETE"
  method="POST"
>
  <button type="submit">Delete</button>
</form>
<hr />
<% }) %>

<div id="one"></div>

<script defer>
  let divSelection = d3.select("#one").selectAll("div");
  // console.log(band.transaction);

  divSelection
    .data(band.transaction)
    .enter()
    .append("div")
    .text(function(d) {
      return d.transaction + " : " + d.price + " money";
    });
</script>

<%- include('../partials/footer') %>
